@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Taxer</h1>
    <p>Use this tool to calculate your taxes.</p>
    <p>Click <a asp-controller="Tax" asp-action="Index">here</a> to get started.</p>
</div>